# Registros
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Compilación
node_modules
dist
dist-ssr
*.local

# Rust & WebAssembly
target/
Cargo.lock
# pkg/  # <- Comentado para incluir en despliegue
*.wasm
wasm-pack.log
**/*.rs.bk

# Directorios y archivos del editor
.vscode/*
!.vscode/extensions.json
.claude
.idea
.DS_Store
*.suo
*.swp
*.swo
*~
Thumbs.db
.env.local
.env.*.local
*.ntvs*
*.njsproj
*.sln
*.sw?
